
<div id="styleguide">
<div class="styleguide-container">
    <nav class="styleguide-menu styleguide-reset">
        <ul class="styleguide-menu-list" data-kss-ref="{{rootNumber}}">
            <li><a href="./">0. Overview</a></li>
            {{#eachRoot}}
            <!-- Maka a helper to generate links -->
            <li><a href="section-{{reference}}.html">{{reference}}. {{header}}</a>
            </li>
            {{/eachRoot}}
        </ul>
    </nav>



    <div class="styleguide-content">

        {{#if overview}}
        <div class="styleguide-markdown-body styleguide-reset">
            {{{overview}}}
        </div>
        {{else}}
        {{#eachSection rootNumber}}
        {{#if markup}}
        <div class="styleguide-example">
            <header class="styleguide-example-header styleguide-reset">
                <h3>{{reference}} <em>{{header}}</em></h3>
            </header>
            {{#if description}}
            <div class="styleguide-description styleguide-markdown-body styleguide-reset">
                {{{description}}}

                <ul class="styleguide-modifier">
                    {{#eachModifier}}
                    <li><strong>{{name}}</strong> - {{{description}}}</li>
                    {{/eachModifier}}
                </ul>
            </div>
            {{/if}}

            <div class="styleguide-element">
                {{modifierMarkup}}
            </div>

            {{#eachModifier}}
            <div class="styleguide-element styleguide-modifier">
                <span class="styleguide-modifier-name">{{name}}</span>
                {{modifierMarkup}}
            </div>
            {{/eachModifier}}

            {{#if filteredMarkup}}
            <div class="styleguide-html styleguide-reset">
                <div class="styleguide-html-highlight">
                    <pre><code class="xml">{{{filteredMarkup}}}</code></pre>
                </div>
            </div>
            {{/if}}

        </div>
        {{else}}
        <header class="example-header styleguide-reset">
            <h1>{{header}}</h1>
        </header>
        {{#if description}}
        <div class="markdown-body styleguide-reset">
            {{{description}}}
        </div>
        {{/if}}
        {{/if}}
        {{/eachSection}}
        {{/if}}
    </div>
</div>
</div>
